/*
background CSS	
*/
.resume {
	box-shadow: 0 0 5px 5px rgba(0,0,0,0.12);
	width: 850px;
	margin: 0 auto;
	padding: 40px 20px;
}
.layout {
	width: 800px;
	height: 100%;
	margin: 0 auto;
}
h3 {
	font-size: 16px;
}
.time {
	color: #ccc;
}
/*
header CSS
*/
.info {
	display: flex;
	justify-content: space-between;
}
.name {
	margin-left: -180px;
	vertical-align: middle;
	padding: 47px;
}
.name h2 {
	margin: 0;
	font-weight: normal;
	color: #555;

}
.name span {
	font-weight: bold;
}
img {
	width: 150px;
	height: 150px;
	border-radius: 150px;
}
.contact h3{
	/*display: inline-block;*/
	/*font-size: 16px;*/
	/*margin-right: */
	border-bottom: 3px solid black;
	
}
.contact ul{
	list-style: none;
	padding: 0;
	font-size: 14px;
}
.contact ul li span {
	padding-left: 10px;
}
.contact ul li a{
	text-decoration: none;
	color: black;
}
/*
content CSS
*/
.title {
	display: inline-block;
	width: 350px;
	border-bottom: 1px solid #CCC;
}

#content ul {
	padding-left: 20px;
	position: relative;
}
#content ul:before{
	content: '';
	display: block;
	position: absolute;
	left: 4px;
	top: 10px;
	border-left: 1px solid;
	height: 96%;
}
#content ul li{
	padding-left: 40px;
}
/*
footer
*/

#footer {
	display: flex;
	justify-content: space-between;
}
#footer ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#footer img{
	width: 14px;
	height: 14px;
	padding-right: 40px;
}
.extra {
	width: 350px;
}
.extra p {
	margin-left: 55px;
}
.skill {
	width: 350px;
}
.skill ul {
	display: flex;
	flex-wrap: wrap;
}
.skill li {
	width: 175px;
	padding: 0;
	margin-bottom: 50px;
}
.skill li span {
	margin-left: -15px;
}
